<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <style>
        .flex-row{display:flex;flex-flow: row nowrap}
        .flex-row > * + *{margin-left:2rem;}
        .flex-col{display:flex;flex-flow: column nowrap}
        .flex-col > * + *{margin-top:1rem;}
    </style>
</head>

<body>
    {{{body}}}
</body>

</html>