* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#client,
#host {
    display: none;
}

#lightdump {
    display: flex;
    flex-flow: row wrap;
    padding: 5vh 5vw;
    margin: 0 auto;
    max-height: 85vh;
    overflow-y: auto;
}
.light {
    width: 8rem;
    height: 15rem;
    font-weight: bold;
    margin: 1rem;
    position: relative;
    background-image: url(./bulb-min.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 1.2rem;
}
.light::after {
    content: attr(data-name);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.light::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 69%;
    width: 100%;
    display: none;
}
.light.on::before{
    display: block;
    background: radial-gradient(ellipse, var(--color) 0%, rgba(255, 255, 255, 0) 66%);
}

#client {
    flex-flow: column;
}
@media screen and (max-width: 768px) {
    #client {
        height: 90vh;
        justify-content: center;
    }
}

button {
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    background: #008db9;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
}
button:disabled {
    background: #aaa;
    cursor: not-allowed;
}
select {
    padding: 1rem 2rem;
    font-size: 2rem;
    margin-bottom: 2rem;
}

#conn-div {
    display: flex;
    flex-flow: column;
    position: fixed;
    align-items: center;

    font-size: 1.5rem;
    text-align: center;
    border-top: 1px solid #666;
    width: 100vw;
    height: 15vh;
    bottom: 0;
    padding-top: 2vh;
}
#connect-button {
    width: 80vw;
    max-width: 400px;
}

#cli-bulb {
    --color: #ff0;
    position: relative;
    width: 75vw;
    height: 60vh;
    margin: 0 auto;
    max-width: 300px;
    max-height: 500px;

    background: #666;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}
#cli-bulb.on {
    background: #eee;
}
#cli-bulb img {
    z-index: 2;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin: 0 auto;
    display: block;
    user-select: none;
    cursor: pointer;
}
#cli-bulb.on::after {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    width: calc(100% - 2rem);
    height: 70%;
    background: radial-gradient(ellipse, var(--color) 0%, rgba(255, 255, 255, 0) 72%);
    z-index: 1;
}
#color-selector {
    margin-top: 1rem;
    width: 100%;
    height: 3rem;
}
