#dashboard {
    display: grid;
    height: 100vh;

    grid-template-columns: 6rem 1fr;
    grid-template-rows: 4rem 1fr;

    &.changing {
        #dashboard-content {
            transition-timing-function: @entranceEase;
            opacity: 0;
        }
    }
}

.dashboard-nav {
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;

    display: flex;
    flex-flow: column;

    border-right: 1px solid @dividerColor;

    padding-top: 2.5rem; //Half of the height of li

    ul {
        list-style-type: none;
    }

    li {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        height: 5rem;

        cursor: pointer;

        border-left: 0.5rem solid transparent;
        transition: border-color 350ms @stopToStopEase;

        span {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 11px;

            opacity: 0;
            transform: translateY(0.25rem);
            transition: all 100ms @exitEase;

            user-select: none;
            -webkit-user-select: none;
        }

        &:hover {
            background: fadeout(@lightPrimaryColor, 90);

            span {
                opacity: 1;
                transform: translateY(0);
                transition: all 150ms 150ms @entranceEase;
            }

            &:not(.selected) i {
                opacity: 0.8;
            }
        }

        i {
            font-size: 1.75rem;
            margin-bottom: 0.5rem;

            opacity: 0.6;
        }

        &.selected {
            border-color: @primaryColor;
            background: fadeout(@lightPrimaryColor, 95);

            span {
                opacity: 1;
                transform: translateY(0);
            }

            i {
                opacity: 1;
            }
        }
    }
}

.dashboard-controls {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;

    border-bottom: 1px solid @dividerColor;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: 0 1rem;

    button {
        margin-left: 1rem;
        margin-right: 0;
    }
}

#dashboard-content {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    display: flex;
    flex-direction: column;

    padding: 1rem;

    opacity: 1;
    transition: opacity 100ms @exitEase;

    h1 {
        text-align: left;
        margin-bottom: 0.5rem;
    }
}

.dashboard-tiles {
    display: grid;
    grid-auto-rows: 5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

    max-height: 100vh;
    overflow-y: auto;

    .tile {
        padding: 1rem;
        border-radius: 0.25rem;
        display: flex;
        flex-flow: column;
        background: @cardBg;

        .md-1();
    }
}
