#dashboard {
    position: relative;

    &.changing {
        #dashboard-content {
            transition-timing-function: @entranceEase;
            opacity: 0;
        }
    }
}

#dashboard-sidebar {
    grid-area: sidebar;

    display: flex;
    flex-flow: column;

    border-right: 1px solid @divider;

    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 6rem;
    background: @background;

    ul {
        list-style-type: none;
    }

    li {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        height: 5rem;

        cursor: pointer;

        border-left: 0.5rem solid transparent;
        transition: border-color 350ms @stopToStopEase;

        span {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 11px;

            opacity: 0;
            transform: translateY(0.25rem);
            transition: all 100ms @exitEase;

            user-select: none;
            -webkit-user-select: none;
        }

        i {
            font-size: 1.75rem;
            margin-bottom: 0.5rem;

            opacity: 0.6;
        }

        &:hover {
            background: fadeout(@primaryLight1, 90);

            span {
                opacity: 1;
                transform: translateY(0);
                transition: all 150ms 150ms @entranceEase;
            }

            &:not(.selected) i {
                opacity: 0.8;
            }
        }

        &.selected {
            border-color: @primary;
            background: fadeout(@primaryLight1, 95);

            span {
                opacity: 1;
                transform: translateY(0);
            }

            i {
                opacity: 1;
            }
        }
    }
}
#logo {
    width: 4rem;
    margin: 1rem auto;
}

#dashboard-content {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0;

    right: 6rem;
    width: calc(100% ~"-" 15rem);

    padding: 1rem 1rem 5rem 0;

    opacity: 1;
    transition: opacity 100ms @exitEase;

    .constrain {
        max-width: 50vw;
        margin: 0 auto;
    }
}
