#dashboard {
    display: grid;
    height: 100vh;

    grid-template-columns: 6rem 1fr;
    grid-template-areas: "sidebar content";

    &.changing {
        #dashboard-content {
            transition-timing-function: @entranceEase;
            opacity: 0;
        }
    }
}

#dashboard-sidebar {
    grid-area: sidebar;

    display: flex;
    flex-flow: column;

    border-right: 1px solid @divider;

    ul {
        list-style-type: none;
    }

    li {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        height: 5rem;

        cursor: pointer;

        border-left: 0.5rem solid transparent;
        transition: border-color 350ms @stopToStopEase;

        span {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 11px;

            opacity: 0;
            transform: translateY(0.25rem);
            transition: all 100ms @exitEase;

            user-select: none;
            -webkit-user-select: none;
        }

        i {
            font-size: 1.75rem;
            margin-bottom: 0.5rem;

            opacity: 0.6;
        }

        &:hover {
            background: fadeout(@primaryLight1, 90);

            span {
                opacity: 1;
                transform: translateY(0);
                transition: all 150ms 150ms @entranceEase;
            }

            &:not(.selected) i {
                opacity: 0.8;
            }
        }

        &.selected {
            border-color: @primary;
            background: fadeout(@primaryLight1, 95);

            span {
                opacity: 1;
                transform: translateY(0);
            }

            i {
                opacity: 1;
            }
        }
    }
}
#logo {
    width: 4rem;
    margin: 1rem auto;
}

#dashboard-content {
    grid-area: content;

    max-width: 1200px;
    width: 90%;
    margin: 0 auto 0 3rem;

    display: flex;
    flex-direction: column;

    padding: 1rem;

    opacity: 1;
    transition: opacity 100ms @exitEase;

    h1 {
        text-align: left;
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 768px) {
    #dashboard {
        grid-template-areas:
            "controls"
            "content"
            "nav";
        grid-template-rows: 4rem auto 5rem;
        grid-template-columns: 1fr;
    }

    #dashboard-content {
        width: 98vw;
        max-height: calc(100vh ~"-" 4rem);
        overflow-y: auto;
    }
    .dashboard-tiles {
        grid-template-columns: 1fr;
    }

    .dashboard-nav {
        z-index: 1;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        flex-flow: row;
        border-top: 1px solid @divider;
        border-right: none;
        background: @background;
        padding-top: 0;

        ul {
            display: flex;
            width: 100%;
        }
        li {
            width: 25%;
            height: 15vw;
            min-height: 3rem;

            border-left: none;
            border-bottom: 0.25rem solid transparent;

            i {
                font-size: 5vw;
            }
        }
    }
}
