#flow-builder {
    width: 100%;
    max-width: unset;

    padding: 1rem;

    .sensor-data-col {
        position: relative;
    }

    .sensor-data-type {
        position: absolute;
        bottom: -1.5rem;
        left: 50%;
        transform: translateX(-50%);
        color: @textLight;
    }

    .config {
        select,
        input {
            margin-bottom: 0;
        }

        > .section + .section {
            margin-top: 1rem;
            padding-top: 1rem;
            border-top: 1px solid @divider;
        }
    }

    .section {
        .title {
            font-size: 1.2rem;
            text-align: left;
            padding-left: 1rem;
        }
    }

    .daypicker {
        input {
            height: 2rem;
        }
    }

    .json-kvpairs {
        p {
            font-size: 0.85rem;
            padding-left: 1rem;
            margin-bottom: 0.25rem;
            text-align: left;
            opacity: 0.9;
        }

        > .flex-row + .flex-row {
            margin-top: 0.5rem;
        }
    }
}
