#flow-builder {
    width: 100%;
    max-width: unset;

    textarea,
    .name-input {
        max-width: 50%;
        min-width: 300px;
    }

    .sensor-data-col {
        position: relative;
    }

    .sensor-data-type {
        position: absolute;
        bottom: -1.5rem;
        left: 50%;
        transform: translateX(-50%);
        color: @textLight;
    }

    .config {
        select,
        input {
            margin-bottom: 0;
        }

        > .section + .section {
            margin-top: 1rem;
            padding-top: 1rem;
            border-top: 1px solid @divider;
        }
    }

    .daypicker {
        margin-top: 2rem;
        
        input {
            height: 1rem;
        }
    }

    .json-kvpairs {
        .label {
            font-size: 0.85rem;
            padding-left: 1rem;
            margin-bottom: 0.25rem;
        }

        > .flex-row + .flex-row {
            margin-top: 0.5rem;
        }
    }
}
