[data-current-page="groups"] {
	.dashboard-tiles {
		grid-auto-rows: max-content;
	}

	.g-tile {
		.cardBase();

		text-align: left;
	}
	.g-id {
		font-size: 0.75rem;
		line-height: 1rem;
		margin-bottom: 1rem;
	}

	.g-sc {
		.label {
			margin-right: 0.25rem;
		}
	}
}

input.g-name {
	font-size: 1.2rem;
	text-align: left;
	line-height: 1.5;
	margin: 0 0 1rem;
}

.group-add-form {
	margin-bottom: 1rem;
	button {
		margin: 0 1rem;
	}
}
