[data-current-page="groups"] {
    .dashboard-tiles {
        grid-auto-rows: max-content;
    }

    .g-tile {
        .cardBase();
    }
    .g-id {
        font-size: 0.75rem;
        line-height: 1rem;
        margin-bottom: 1rem;
    }

    .g-sc {
        .label {
            margin-right: 0.25rem;
        }
    }
}

input.g-name {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 0 0.5rem;
}

.group-add-form {
    margin: 0 auto 1rem;
    width: 40ch;

    p {
        margin: 1rem 0;
    }

    input {
        margin: 0 0 2rem;
    }

    button {
        margin: 0;
    }
}
