#home-lists {
    display: flex;
    flex-flow: row nowrap;

    > .flex-col {
        .title-row {
            margin-bottom: 0.5rem;
        }

        &:not(:last-of-type) {
            margin-right: 3rem;
        }
    }
}
