#home-lists {
    display: flex;
    flex-flow: row nowrap;

    > .flex-col {
        .title-row {
            margin-bottom: 0.5rem;
        }

        &:not(:last-of-type) {
            margin-right: 3rem;
        }
    }
}

@media (max-width: 768px) {
    #home-lists {
        flex-flow: column;

        > .flex-col {
            &:not(:last-of-type) {
                margin: 0 0 2rem 0;
            }
        }

        .tile {
            width: 100%;
        }
    }
}
