#home-lists {
    display: flex;
    flex-flow: row nowrap;

    > .flex-col:not(:last-of-type) {
        margin-right: 3rem;
    }

    h2{
        align-self: flex-start;
        margin-bottom: 1rem;
    }
}
