.flex-col,
.flex-row {
    display: flex;

    &.sa {
        justify-content: space-around;
    }
    &.sb {
        justify-content: space-between;
    }
    &.se {
        justify-content: space-evenly;
    }
    &.fe {
        justify-content: flex-end;
    }
    &.jcc {
        justify-content: center;
    }
    &.aic {
        align-items: center;
    }
}
.flex-col {
    flex-direction: column;
}

.flex-grid {
    display: grid;
    grid-gap: 1rem;

    width: calc(100vw - 15rem);

    grid-template-columns: repeat(auto-fill, minmax(350px, 400px));

    @media (max-width: 768px) {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .tile {
        width: auto;
        max-width: initial;
        margin-bottom: 0;
    }
}
