.flex-col,
.flex-row {
    display: flex;

    &.sa {
        justify-content: space-around;
    }
    &.sb {
        justify-content: space-between;
    }
    &.se {
        justify-content: space-evenly;
    }
    &.fe {
        justify-content: flex-end;
    }
    &.jcc {
        justify-content: center;
    }
    &.aic {
        align-items: center;
    }
}
.flex-col {
    flex-direction: column;
}

.flex-grid {
    display: grid;
    grid-gap: 1rem;

    &.cols-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .tile {
            width: 100%;
            min-width: unset;
        }
    }
    &.cols-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .tile {
        width: auto;
        max-width: initial;
        margin-bottom: 0;
    }

    @media (max-width: 1062px) {
        &.cols-3 {
            grid-template-columns: 1fr 1fr;
        }
    }
    @media (max-width: 768px) {
        &.cols-3 {
            grid-template-columns: 1fr;
        }
    }
}
