.list {
    display: flex;
    flex-flow: column;

    .item {
        display: flex;
        align-items: center;

        .cardBase();

        margin-bottom: 0.25rem;

        > * + * {
            margin-left: 0.5rem;
        }
    }
}

.list,
.g-tile {
    span.label {
        text-align: left;
        .bold();
        margin-bottom: 0.5rem;
        font-size: 0.6rem;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: fadeout(@primaryTextColor, 20);
    }
}
