#modal-scrim {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	opacity: 0;
	pointer-events: none;

	transition: opacity 100ms 0ms @entranceEase;
	background-color: fadeout(mix(@primary, @background, 5), 30);

	&.open {
		opacity: 1;
		pointer-events: initial;

		#modal {
			transition: transform 200ms 150ms @entranceEase,
				opacity 150ms 150ms @entranceEase;
			transform: scale(1);
			opacity: 1;
		}
	}
}

#modal {
	min-width: 40vw;
	max-width: 60vw;

	overscroll-behavior: contain;

	@media screen and(max-width:600px) {
		position: absolute;
		top: auto;
		left: 2.5vw;
		max-width: 95vw;
		min-width: 95vw;
	}

	background-color: @background;
	border: 2px solid darken(@background, 10);
	border-radius: 3px;

	.md-3();

	transition: transform 150ms 0ms @exitEase, opacity 100ms 0ms @exitEase;
	transform: scale(0.75);
	opacity: 0;

	> .controls {
		display: flex;
		justify-content: flex-end;
		padding: 0.5rem 1rem;

		border-bottom: 1px solid @divider;

		.title {
			display: flex;
			justify-self: flex-start;
			width: 100%;
			align-items: center;

			font-size: 1.2rem;
		}

		button {
			margin: 0;
		}
	}
}

#modal-content {
	min-height: 40vh;
	max-height: 70vh;
	overflow-y: auto;
}
