@import url("https://rsms.me/inter/inter.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: "Inter", "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;

    background-color: @backgroundBody;
    color: @text;
}

button {
    line-height: 36px;
    padding: 0 16px;
    min-width: 36px;
    max-width: 250px;

    margin: 0.5rem auto;

    border-radius: 4px;
    border: 0;

    .bold();
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: @buttonText;
    background-color: @primary;
    border: none;
    cursor: pointer;

    transition: background-color 75ms ease-in-out;
    &:hover {
        background-color: @primaryDark2;
    }
    &:active {
        background-color: @primaryDark3;
    }

    &.round {
        width: 2rem;
        height: 2rem;
        padding: 0;
        min-width: 0;
        margin: 0;
        border-radius: 25%;

        span {
            height: 100%;
            width: 100%;
            display: block;
            line-height: 2rem;
            font-size: 1.25rem;
        }
    }

    &.floating {
        background-color: @primaryDark1;
        color: @text;
        border-width: 0;

        transition: box-shadow 75ms @stopToStopEase;

        &:hover {
            .md-2();
        }
    }

    &.overlay {
        color: @buttonText;
        background: fadeout(@primaryDark1, 90);

        &:hover {
            background-color: fadeout(@primaryLight1, 70);
        }
        &:active {
            background-color: fadeout(@primaryDark1, 70);
        }
    }

    &.warn {
        background-color: @warnLight;
        border-color: @warn;

        &:hover {
            background-color: @warn;
        }
        &.floating {
            background-color: @warn;
        }

        &.overlay {
            color: @buttonText;
            background-color: fadeout(saturate(@warn, 20), 70);

            &:hover {
                background-color: @warnLight;
            }
            &:active {
                background-color: @warn;
            }
        }
    }

    &.small {
        line-height: 28px;
        font-size: 0.75rem;

        &.round {
            line-height: 28px;
            width: 28px;
            height: 28px;
        }
    }

    &:disabled {
        background: @disabledBackground;
        cursor: default;

        color: @text;
    }

    i {
        pointer-events: none;
    }

    i + span {
        margin-left: 0.5rem;
    }

    // Used by the individal Lists
    &.page-add-btn {
        margin: 0.5rem auto 1rem 0;
    }
}

input,
select,
textarea {
    background: transparent;
    color: @text;

    border-radius: 0.25rem;
    border: 2px solid @divider;
    transition: border-color 100ms ease;

    margin: 0 1rem 0.5rem;
    padding: 0 0.5rem;

    &:focus {
        outline: none;
        border-color: @primary;
    }

    &:disabled {
        background: @disabledBackground;

        cursor: not-allowed;

        color: @text;

        &::placeholder {
            color: @disabledPlaceholder;
        }
    }
}
input,
select {
    line-height: 2.5rem;
    height: 2.5rem;
}
input {
    &[type="checkbox"] {
        margin-bottom: 0;
    }

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button,
    &[type="time"]::-webkit-inner-spin-button,
    &[type="time"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

select {
    &.invalid {
        color: @disabledPlaceholder;
    }
    option {
        background: @background;
    }
}
textarea {
    line-height: 1.5;
    min-height: 5rem;
    padding: 0.5rem 0.5rem;

    resize: vertical;
}
option {
    color: @text;
}

.radio-group {
    display: flex;
    margin: 0 1rem;

    .radio-item {
        display: flex;
        align-items: center;
        margin: 0.125rem 0.5rem 0.125rem 0;
        border: 2px solid @divider;
        border-radius: 0.25rem;
        padding: 0.25rem 0.5rem 0.25rem 1.5rem;
        position: relative;

        cursor: pointer;

        span {
            user-select: none;

            &::before {
                display: block;
                content: " ";
                color: #fff;
                position: absolute;
                left: 0.5rem;
                top: 0.35rem;
                width: 0.8rem;
                height: 0.9rem;
                background: fadeout(@divider, 80);
                border-radius: 50%;
            }
        }

        &:hover:not(.selected) {
            span::before {
                background: @primaryLight2;
            }
        }

        &.selected {
            border-color: @primary;

            span::before {
                background: @primaryDark1;
            }
        }

        input {
            margin: 0 0.25rem 0 0;
            line-height: auto;
            height: auto;
            position: fixed;
            opacity: 0;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: left;
}
h1 {
    font-size: 3rem;
    .regular();
    margin: 1rem 0;
}
h2 {
    .bold();
    letter-spacing: 0.8px;
}
h3 {
    margin: 1rem 0;
    letter-spacing: 1.1px;
}

p {
    line-height: 1.5;
}

.table {
    display: table;
    overflow: auto;
    table-layout: fixed;
    width: 100%;
    border: 2px solid @divider;
    border-radius: 0.25rem;

    .tr {
        display: table-row;
        border-bottom: 1px solid;
        transition: background-color 50ms ease;

        &:nth-of-type(2n + 1) {
            background-color: fadeout(@divider, 90);
        }

        &:not(.header):hover {
            background-color: fadeout(mix(@background, @primaryLight1, 20), 60);
        }
    }

    .td,
    .th {
        height: 40px;
        font-size: 13px;
        display: table-cell;
        vertical-align: middle;
    }

    .td {
        padding: 0.25rem;
    }

    .th {
        .bold();
        padding: 0.5rem 0.25rem;
        border-bottom: 2px solid @divider;
    }
}

.clickable {
    cursor: pointer;
}
.tac {
    text-align: center;
}

.ReactLoader {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    i {
        font-size: 2rem;
        margin: 1rem;
        color: @primary;
        animation: rotate-center 2s steps(8, end) infinite both;
    }
}
@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
