@import "./variables.less";
@import "./mixins.less";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;

    background-color: @background;
    color: @text;
}

button {
    line-height: 28px;
    min-height: 28px;
    padding: 0 16px;
    min-width: 36px;
    max-width: 250px;

    margin: 0.5rem auto;

    border-radius: 3px;
    border: 0;

    font-weight: 700;
    font-size: 0.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: @background;
    background-color: @primary;
    border: none;
    cursor: pointer;

    transition: background-color 75ms ease-in-out;
    &:hover {
        background-color: @primaryDark1;
    }
    &:active {
        background-color: @primaryDark2;
    }

    &.round {
        width: 2rem;
        height: 2rem;
        padding: 0;
        min-width: 0;
        margin: 0;
        border-radius: 50%;
    }

    &.floating {
        background-color: @primaryDark1;
        color: @text;
        border-width: 0;

        transition: box-shadow 75ms @stopToStopEase;

        &:hover {
            .md-2();
        }
    }

    &.overlay {
        color: @text;
        background: fadeout(@primaryDark1, 90);

        &:hover {
            background-color: fadeout(@primaryLight1, 70);
        }
        &:active {
            background-color: fadeout(@primaryDark1, 70);
        }
    }

    &.warn {
        background-color: @warnLight;
        border-color: @warn;

        &:hover {
            background-color: @warn;
        }
        &.floating {
            background-color: @warn;
        }

        &.overlay {
            color: @background;
            background-color: fadeout(saturate(@warn, 20), 70);

            &:hover {
                background-color: @warnLight;
            }
            &:active {
                background-color: @warn;
            }
        }
    }

    i {
        pointer-events: none;
    }

    i + span {
        margin-left: 0.5rem;
    }
}

input,
select,
textarea {
    background: transparent;
    color: @text;

    border-radius: 0.25rem;
    border: 2px solid @divider;
    transition: border-color 100ms ease;

    margin: 0 1rem 0.5rem;
    padding: 0 0.5rem;

    &:focus {
        outline: none;
        border-color: @primary;
    }

    &:disabled {
        background: @disabledBackground;

        cursor: not-allowed;

        color: @text;

        &::placeholder {
            color: @disabledPlaceholder;
        }
    }
}
input,
select {
    line-height: 2.5rem;
    height: 2.5rem;
}
input {
    &[type="checkbox"] {
        margin-bottom: 0;
    }
}

select {
    &.invalid {
        color: @disabledPlaceholder;
    }
    option {
        background: @background;
    }
}
textarea {
    line-height: 1.5;
    min-height: 5rem;
    padding: 0.5rem 0.5rem;

    resize: vertical;
}
option {
    color: @text;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;

    .radio-line {
        display: flex;
        align-items: center;
        margin: 0.125rem 0;
        border: 2px solid @divider;
        border-radius: 0.25rem;
        padding: 0.25rem 0.5rem 0.25rem 1.5rem;
        position: relative;

        cursor: pointer;

        span {
            user-select: none;

            &::before {
                display: block;
                content: " ";
                color: #fff;
                position: absolute;
                left: 0.5rem;
                top: 0.35rem;
                width: 0.8rem;
                height: 0.9rem;
                background: fadeout(@divider, 80);
                border-radius: 50%;
            }
        }

        &:hover:not(.selected) {
            span::before {
                background: @primaryLight2;
            }
        }

        &.selected {
            border-color: @primary;

            span::before {
                background: @primaryDark1;
            }
        }

        input {
            margin: 0 0.25rem 0 0;
            line-height: auto;
            height: auto;
            position: fixed;
            top: -1rem;
            left: -1rem;
        }
    }
}

h1 {
    text-align: left;
    margin: 1rem 0;
}
h2 {
    color: lighten(@text, 25);
    font-weight: 600;
}

.table {
    display: table;
    overflow: auto;
    table-layout: fixed;
    width: 100%;
    border: 2px solid @divider;
    border-radius: 0.25rem;

    .tr {
        display: table-row;
        border-bottom: 1px solid;
        transition: background-color 50ms ease;
    }
    .tr:nth-of-type(2n) {
        background-color: rgba(0, 0, 0, 0.02);
    }
    .tr:not(.header):hover {
        background-color: fadeout(@primaryLight1, 90);
    }

    .td,
    .th {
        display: table-cell;
        vertical-align: middle;
    }

    .td {
        padding: 0.25rem;
    }

    .th {
        font-weight: 700;
        padding: 0.5rem 0.25rem;
        border-bottom: 2px solid @divider;
    }
}

.clickable {
    cursor: pointer;
}

.errorCard {
    .cardBase();
    background: @warn;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
}
