@import "./variables.less";
@import "./mixins.less";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;

    background-color: @bgColor;
    color: @primaryTextColor;
}

button {
    min-height: 36px;
    line-height: 35px;
    padding: 0 16px;
    min-width: 36px;
    max-width: 250px;

    margin: 0.5rem auto;

    border-radius: 3px;
    border: 0;

    font-weight: 700;
    font-size: 14px;

    color: @primaryTextColor;
    background-color: fadeout(@lightPrimaryColor, 80);
    border: 2px solid @dividerColor;
    cursor: pointer;

    transition: background-color 75ms ease-in-out;
    &:hover {
        background-color: fadeout(@darkPrimaryColor, 80);
    }

    &.floating {
        background-color: @darkPrimaryColor;
        color: @textPrimaryColor;
    }

    i + span {
        margin-left: 0.5rem;
    }
}

.table {
    display: table;
    overflow: auto;
    table-layout: fixed;
    width: 100%;
    border: 2px solid @dividerColor;

    .tr {
        display: table-row;
        border-bottom: 1px solid;
        transition: background-color 50ms ease;
    }
    .tr:nth-of-type(2n) {
        background-color: rgba(0, 0, 0, 0.08);
    }
    .tr:not(:first-of-type):hover {
        background-color: fadeout(@lightPrimaryColor, 90);
    }

    .td,
    .th {
        padding: 0.25rem;
        display: table-cell;
    }
}
