[data-current-page="sensors"] {
    // [class^="sl-"] {
    //     border: 1px solid red;
    // }

    .sl-nid {
        flex-grow: 2;
    }
    .sl-n {
        font-size: 1.2rem;
        text-align: left;
        line-height: 1.5;
    }

    .sl-details {
        font-size: 0.75rem;
        line-height: 1rem;
    }
    .sl-dt {
        text-transform: capitalize;
        border-left: 1px solid @dividerColor;
        margin-left: 0.5rem;
        padding: 0 0.5rem;
    }

    .sl-gc {
        flex-grow: 1;
    }

    .sl-controls {
        button + button {
            margin-left: 0.5rem;
        }
    }
}

.editSensorModal {
    text-align: left;

    &-groups {
        border-top: 1px solid @dividerColor;
        margin-top: 1rem;
        padding: 1rem;
    }

    .title {
        .bold();
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    .editSensorModal-g {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.25rem 0.5rem;

        button {
            margin: 0 0 0 1rem;
        }

        &:not(:first-of-type) {
            border-bottom: 1px solid @dividerColor;
        }
    }

    .editSensorModal-addToGroup {
        border-bottom: 1px solid @dividerColor;
    }
}
