[data-current-page="sensors"] {
    // [class^="sl-"] {
    //     border: 1px solid red;
    // }

    .sl-nid {
        width: 40%;
    }
    .sl-n {
        font-size: 1.2rem;
        text-align: left;
        line-height: 1.5;
    }

    .sl-details {
        font-size: 0.75rem;
        line-height: 1rem;
    }
    .sl-dt {
        text-transform: capitalize;
        border-left: 1px solid @divider;
        margin-left: 0.5rem;
        padding: 0 0.5rem;
    }

    .sl-logcount,
    .sl-gc {
        display: flex;
        flex-flow: column;
        align-self: stretch;
        text-align: left;
    }
    .sl-logcount {
        width: 20%;
        position: relative;

        &::after {
            content: "Click to view logs";
            position: absolute;
            bottom: -0.25rem;
            left: 0;
            font-size: 0.6rem;
            transform: scaleY(0);
            transform-origin: top left;
            transition: transform 150ms 0ms @stopToStopEase;
        }
        &:hover::after {
            transition-delay: 500ms;
            transform: scaleY(1);
        }
    }
    .sl-gc {
        width: 10%;
    }

    .sl-controls {
        width: 30%;
        min-width: 250px;
        border-left: 1px solid @divider;
        button + button {
            margin-left: 0.5rem;
        }
    }
}

.editSensorModal {
    text-align: left;
    padding-top: 1rem;

    &-groups {
        border-top: 1px solid @divider;
        margin-top: 1rem;
        padding: 1rem;
    }

    .title {
        .bold();
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    .name-dt-section {
        .flex-row {
            margin: 0.5rem 0;
        }

        span {
            display: block;
            width: 25%;
            min-width: 105px;
            text-align: right;
        }
        input,
        select {
            min-width: 12rem;
            width: 30%;
            margin-bottom: 0;
        }
    }

    .editSensorModal-g {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;

        button {
            margin: 0 0 0 1rem;
        }

        &:hover {
            background-color: fadeout(mix(@background, @primaryLight1, 20), 60);
        }

        &:not(:first-of-type) {
            border-bottom: 1px solid @divider;
        }
    }

    .editSensorModal-addToGroup {
        border-bottom: 1px solid @divider;
    }

    .esm-msg {
        border-radius: 0.5rem;
        background: @accent;
        color: #fff;
        .bold();
        padding: 0.5rem 1rem;
        margin: 0 auto;
    }
}

.addSensorModal {
    max-width: 40ch;
    margin: 0 auto;

    p {
        margin: 1rem;
    }
}
