@primaryDark2: #0c6ca0;
@primaryDark1: #0f80ad;
@primary: #008db9;
@primaryLight1: #16a3ce;
@primaryLight2: #40bee5;

@warn: #ba3f3f;
@warnDark: #a04141;
@warnLight: #d14a42;

@accent: #8bc34a;
@accentDark: #79b733;
@accentLight: #9ed164;

@text: #2f2f2f;
@textLight: lighten(@text, 30);

@background: #f7f8f8;
@backgroundBody: linear-gradient(0deg, #fff 0%, rgba(12, 108, 160, 0.1) 100%), #f7f8f8;

@divider: #999999;

@disabledBackground: lighten(@divider, 25);
@disabledPlaceholder: @divider;

/* Timing Curves */
@entranceEase: cubic-bezier(0, 0, 0.2, 1);
@exitEase: cubic-bezier(0.4, 0, 1, 1);
@stopToStopEase: cubic-bezier(0.4, 0, 0.2, 1);

/* Fonts */
.bold() {
    font-weight: 700;
}
.regular() {
    font-weight: 400;
}
