@primary: #008db9;
@primaryDark1: #0c6ca0;
@primaryDark2: #0f80ad;
@primaryLight1: #16a3ce;
@primaryLight2: #40bee5;

@warn: #BA5A43;
@warnDark:#A84128;
@warnLight: #D8684B;

@accent: #8BC34A;
@accentDark:#79B733;
@accentLight: #9ED164;

@text: #2F2F2F;
@textLight: lighten(@text,20);

@background: #F7F8F8;
@backgroundBody: linear-gradient(0deg, #fff 0%, rgba(12, 108, 160, 0.1) 100%), #F7F8F8;

@divider: #999999;


/* Timing Curves */
@entranceEase: cubic-bezier(0, 0, 0.2, 1);
@exitEase: cubic-bezier(0.4, 0, 1, 1);
@stopToStopEase: cubic-bezier(0.4, 0, 0.2, 1);

/* Fonts */
.bold() {
    font-weight: 700;
}
.regular() {
    font-weight: 400;
}
